.container {
  background-color: #c7dde7;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.reg_container {
  background: #ffffff;
  box-shadow: 0px 10px 40px 16px rgba(90, 82, 128, 0.22);
  border-radius: 26px;
  width: 80%;
}

.head_info {
  padding: 10px;
  background: rgba(254, 249, 235, 0.7);
  border-radius: 30px;
  box-shadow: 0px 5.5px 5.5px rgba(0, 0, 0, 0.25);
  width: 20%;
  text-align: center;
  margin: 20px;
  color: #545a8b;
  font-size: 20pt;
  font-weight: 700;
  font-family: "Montserrat";
}

.detail_text {
  font-family: "Montserrat";
  color: #545a8b;
  text-align: center;
  font-style: normal;
  font-weight: 700;
}

.back_btn {
  color: black;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.topic {
  text-decoration-line: underline;
  font-weight: 700;
  font-size: 20px;
}

.p {
  display: inline-block;
}

.image_container {
  background: rgba(83, 131, 136, 0.7);
  height: 400px;
}

.provider_detail {
  padding: 20px;
}

.details {
  padding-left: 20px;
}

.rent_btn {
  background: white;
  border-radius: 20px;
  width: 8%;
  height: 40px;
  box-shadow: 5px 5px #acb7d0;
  border: 1px solid transparent;
  color: black;
  margin-top: 40px;
  margin-left: 72%;
  font-weight: 700;
  font-size: 20px;
}
