main {
  min-height: 100vh;
  min-width: 100vw;
}

.my-btn {
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  height: 40px;
  min-width: 120px;
}

.orange_btn {
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
  /* margin: 20px 100px; */
  background: orange;
  border-radius: 40px;
  color: white;
  /* text-align: center; */
  box-shadow: 5px 5px #dadada;
  border: 1px solid orange;
}

.orange_btn:hover {
  color: inherit;
  background-color: #e69809;
  color: white;
  border-color: white;
}
