main {
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  height: 100vh !important;
}

.my-btn {
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  height: 40px;
  min-width: 120px;
}

.orange_btn {
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
  background: orange !important;
  border-radius: 40px;
  color: white !important;
  box-shadow: 5px 5px #dadada;
  border: 1px solid orange !important;
}

.orange_btn:hover {
  color: inherit;
  background-color: #e69809 !important;
  color: white;
  border-color: white !important;
}

.modal-body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.modal_wo_border {
  border: 0px !important;
}

.modal-header {
  border: 0px !important;
}

.modal-content {
  padding: 10px;
}

.modal-footer {
  border: 0px !important;
}

.green_color {
  color: green;
}

.red_color {
  color: red;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
