.main {
  background-image: url("../public/bgHome.png");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_container {
  background-color: rgba(84, 90, 139, 0.85);
  border-radius: 70px;
  padding: 50px 15px;
  width: 80%;
}

.input {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid white;
  color: white;
  width: 100%;
  outline: none;
}

.login_btn {
  background: #48db79;
  color: white;
  border-radius: 20px;
  width: 170px;
  box-shadow: 5px 5px #dadada;
  border: 1px solid #48db79;
  transition: 0.3s;
}

.login_btn:hover {
  background: white;
  color: #48db79;
  border-color: #48db79;
}

.borderFont {
  text-shadow: 5px 5px black;
}

.spinner {
  height: 18px;
  width: 18px;
}

.invalid {
  color: white;
}

.select {
  appearance: none;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 5.5px 5.5px rgba(0, 0, 0, 0.25);
  border-radius: 5.5px;
  height: 36px;
  width: 100%;
  outline: none;
  border: 1px solid black;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.signup {
  color: white;
}

.signup:hover {
  color: #cccfcd;
}
