.container {
  background-color: #c7dde7;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
}

.reg_container {
  background: #ffffff;
  box-shadow: 0px 10px 40px 16px rgba(90, 82, 128, 0.22);
  border-radius: 26px;
  width: 80%;
}

.select {
  width: 150px;
  background: rgba(254, 249, 235, 0.7);
  box-shadow: 0px 5.52941px 5.52941px rgba(0, 0, 0, 0.25);
}

.input {
  width: 100%;
  background-color: rgba(254, 249, 235, 0.7);
  border: 1px solid black;
  box-shadow: 0px 5.52941px 5.52941px rgba(0, 0, 0, 0.25);
  border-radius: 5.5px;
  outline: none;
  padding: 5px;
}

.submit_btn {
  background: #ffffff;
  border-radius: 20px;
  width: 170px;
  box-shadow: 5px 5px #dadada;
  border: 1px solid black;
}

.role {
  background: rgba(254, 249, 235, 0.7);
  box-shadow: 0px 5.5px 5.5px rgba(0, 0, 0, 0.25);
  border-radius: 5.5px;
  width: 140px;
  border: 1px solid black;
  color: #545a8b;
}

.select {
  appearance: none;
  padding: 5px;
  background-color: rgba(254, 249, 235, 0.7);
  box-shadow: 0px 5.5px 5.5px rgba(0, 0, 0, 0.25);
  border-radius: 5.5px;
  height: 36px;
  width: 100%;
  outline: none;
  border: 1px solid black;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.feedback {
  margin-top: 4px;
  color: red;
  font-size: 13px;
  height: 13px;
}

.spinner {
  height: 18px;
  width: 18px;
}

.back {
  padding-left: 10px;
}

.back_btn {
  color: black;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.back_btn:hover {
  color: black;
  text-decoration: underline;
}
