.btn {
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    padding: 8px 0;
    margin: 20px 100px;
    background: white;
    border-radius: 40px;
    color: black;
    text-align: center;
    box-shadow: 5px 5px #dadada;
    border: 1px solid orange;
  }
  
  .btn:hover {
    color: inherit;
    background-color: orange;
    color: white;
    border-color: white;
  }
  
  .container {
    background-color: rgb(255, 254, 234, 0.85);
    border-radius: 70px;
    padding: 50px 15px;
    width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
  }
  
  .back {
    padding-left: 30px;
  }
  
  .back_link {
    text-decoration: none;
  }
  
  .back_link:hover {
    text-decoration: underline;
  }
  