.footer {
  background-color: #fef9eb;
  margin-top: 0 3em;
}

.footer_info {
  margin-top: 15px;
}

.link {
  color: black;
  text-decoration: none;
}

.block {
  padding-left: 40px;
  padding-top: 30px;
  text-align: left;
}

.ul {
  padding-left: 20px;
}

.ul_list {
  list-style-type: none;
}

.brand_title {
  color: #545a8b;
}

.col {
  padding-left: 15px;
}
