.a_link {
  text-decoration: none;
  justify-content: center;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.55);
}

.signInBtn {
  color: white !important;
}

.nav {
  background-color: rgba(254, 249, 235, 0.8);
  padding: 20px 0px;
}

.brand {
  background: #fef9eb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.signup {
  background-color: rgb(109, 109, 109);
  color: floralwhite;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 10px 25px 10px 25px !important;
}

.signup:hover {
  background-color: rgb(253, 175, 86);
  color: black;
}

.title_4U {
  color: #545a8b;
  font-weight: 1000;
}

.title_VEHICLE {
  color: white;
  font-weight: 1000;
  -webkit-text-stroke: 1px black;
}

.borderFont {
  text-shadow: 3px 3px black;
}
