.main {
  min-height: 100vh;
  background-image: url("../../public/bgRoleSelection.png");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgb(255, 254, 234, 0.85);
  border-radius: 70px;
  padding: 50px 15px;
  width: 60%;
  margin: auto;
  text-align: center;
}

.back {
  padding-left: 10px;
}

.back_btn {
  color: black;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.back_btn:hover {
  color: black;
  text-decoration: underline;
}

.role {
  min-width: 140px;
}
